.password_Weak, .password_Fair, .password_Good, .password_Strong {
    -webkit-appearance: none;
    appearance: none;
    width: 320px;
    height: 8px;
    margin-bottom: 4px;
}

.password_Weak::-webkit-progress-bar, .password_Fair::-webkit-progress-bar, .password_Good::-webkit-progress-bar, .password_Strong::-webkit-progress-bar {
    background-color: #ccc;
    border-radius: 3px;
}

.password_Weak::-webkit-progress-value {
    background-color: #9C1F36;
    border-radius: 3px;
    transition: all 0.2s linear;
}

.password_Fair::-webkit-progress-value {
    background-color: #F7CE55;
    border-radius: 3px;
    transition: all 0.2s linear;
}

.password_Good::-webkit-progress-value {
    background-color: #4F96EC;
    border-radius: 3px;
    transition: all 0.2s linear;
}

.password_Strong::-webkit-progress-value {
    background-color: #88C06C;
    border-radius: 3px;
    transition: all 0.2s linear;
}